<ion-content>
  <ng-container [ngSwitch]="activeTab + '-' + refreshKey">
    <ng-container *ngSwitchCase="'tab1-' + refreshKey">
      <app-tab1></app-tab1>
    </ng-container>
    <ng-container *ngSwitchCase="'tab2-' + refreshKey">
      <app-tab2></app-tab2>
    </ng-container>
    <ng-container *ngSwitchCase="'tab3-' + refreshKey">
      <app-tab3></app-tab3>
    </ng-container>
  </ng-container>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="setTab('tab1')" [selected]="activeTab === 'tab1'">
    <i class="fa-solid fa-bag-shopping"></i>
  </ion-tab-button>
  <ion-tab-button (click)="setTab('tab2')" [selected]="activeTab === 'tab2'">
    <i class="fa-solid fa-location-dot"></i>
  </ion-tab-button>
  <ion-tab-button (click)="setTab('tab3')" [selected]="activeTab === 'tab3'">
    <i class="fa-regular fa-circle-user"></i>
  </ion-tab-button>
</ion-tab-bar>
