<ion-content>
  <ng-container [ngSwitch]="activeTab + '-' + refreshKey">
    <ng-container *ngSwitchCase="'tab1-' + refreshKey">
      <app-tab1></app-tab1>
    </ng-container>
    <ng-container *ngSwitchCase="'tab2-' + refreshKey">
      <app-tab2></app-tab2>
    </ng-container>
    <ng-container *ngSwitchCase="'tab3-' + refreshKey">
      <app-tab3></app-tab3>
    </ng-container>
  </ng-container>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="setTab('tab1')" [selected]="activeTab === 'tab1'">
    <img
      src="../../assets/QUIMAGROAPP/LOGOS/ICONOS SECCIONES MENU/icono1.png"
      alt=""
    />
  </ion-tab-button>
  <ion-tab-button (click)="setTab('tab2')" [selected]="activeTab === 'tab2'">
    <img
      src="../../assets/QUIMAGROAPP/LOGOS/ICONOS SECCIONES MENU/icono2.png"
      alt=""
    />
  </ion-tab-button>
  <ion-tab-button (click)="setTab('tab3')" [selected]="activeTab === 'tab3'">
    <img
      src="../../assets/QUIMAGROAPP/LOGOS/ICONOS SECCIONES MENU/icono3.png"
      alt=""
    />
  </ion-tab-button>
</ion-tab-bar>
