<ion-content [fullscreen]="true">
  <div class="container">
    <div class="sucursales__container">
      <div class="overlay"></div>

      <!-- Contenido principal -->
      <div class="info-container">
        <h2 *ngIf="sucursalActiva">{{ sucursalActiva.nombre }}</h2>
        <p class="address" *ngIf="sucursalActiva">{{ sucursalActiva.direccion }}</p>
        <p class="phone" *ngIf="sucursalActiva">
          <i class="fa-solid fa-phone"></i>{{ sucursalActiva.telefono }}
        </p>
      </div>

      <!-- Controles del carrusel -->
      <div class="carousel">
        <button (click)="cambiarSucursal(-1)">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div class="carousel-img">
          <img
            *ngIf="sucursalActiva"
            [src]="sucursalActiva.imagen"
            alt="{{ sucursalActiva.nombre }}"
          />
        </div>
        <button (click)="cambiarSucursal(1)">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <!-- Contenedor de Mapa -->
    <div class="map-container">
      <iframe
        [src]="getMapaUrl(sucursalActiva)"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <!-- Botón para abrir Google Maps -->
    <button
      id="visitBtn"
      (click)="openGoogleMaps(sucursalActiva.lat, sucursalActiva.lng)"
    >
      Visitar Ahora
    </button>
  </div>
</ion-content>
