<form action="">
  <h2>Datos de acceso</h2>
  <div class="rows">
    <div class="">
      <label for="Nombre">Nombre</label>
      <input type="text" name="Nombre" id="Nombre" />
    </div>
    <div class="">
      <label for="Apellido">Apellido</label>
      <input type="text" name="Apellido" id="Apellido" />
    </div>
  </div>
  <label for="RFC">RFC</label>
  <input type="text" id="RFC" name="RFC" />
  <label for="Telefono">Telefono</label>
  <input type="text" name="Telefono" id="Telefono" />
  <label for="Correo">Correo</label>
  <input type="email" id="Correo" name="Correo" />
  <label for="Contraseña">Contraseña</label>
  <input type="password" id="Contraseña" name="Contraseña" />

  <button id="register">Registrarse</button>
  <button id="alreadyLogin" (click)="toLogin()">¿Ya tienes una cuenta?</button>

</form>
