<ion-content [fullscreen]="true" scrollY="false">
  <div class="container">
    <div class="container__top">
      <app-header-products></app-header-products>
    </div>

    <!--ssearch-->
    <div class="search-bar">
      <ion-searchbar
        [(ngModel)]="searchQuery"
        (ionInput)="filterProducts()"
        debounce="500"
        placeholder="Buscar productos..."
      ></ion-searchbar>
    </div>
    <div class="container__products">
      <div class="content__container">
        <div class="section" *ngIf="filteredRow1Products.length > 0">
          <div class="section-title"><p>Faena</p></div>

          <div class="product-row">
            <div
              *ngFor="let product of filteredRow1Products"
              class="product-card"
              (click)="selectProduct(product)"
            >
              <div class="product-content">
                <div class="product-image">
                  <img [src]="product.image" alt="Producto" />
                </div>
                <div class="product-name">{{ product.name }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" *ngIf="filteredRow2Products.length > 0">
          <div class="section-title"><p>Fungicida</p></div>

          <div class="product-row">
            <div
              *ngFor="let product of filteredRow2Products"
              class="product-card"
              (click)="selectProduct(product)"
            >
              <div class="product-content">
                <div class="product-image">
                  <img [src]="product.image" alt="Producto" />
                </div>
                <div class="product-name">{{ product.name }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" *ngIf="filteredRow3Products.length > 0">
          <div class="section-title"><p>Herbicida</p></div>

          <div class="product-row">
            <div
              *ngFor="let product of filteredRow3Products"
              class="product-card"
              (click)="selectProduct(product)"
            >
              <div class="product-content">
                <div class="product-image">
                  <img [src]="product.image" alt="Producto" />
                </div>
                <div class="product-name">{{ product.name }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" *ngIf="filteredRow4Products.length > 0">
          <div class="section-title"><p>Insecticida</p></div>

          <div class="product-row">
            <div
              *ngFor="let product of filteredRow4Products"
              class="product-card"
              (click)="selectProduct(product)"
            >
              <div class="product-content">
                <div class="product-image">
                  <img [src]="product.image" alt="Producto" />
                </div>
                <div class="product-name">{{ product.name }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" *ngIf="filteredRow5Products.length > 0">
          <div class="section-title"><p>Foliares</p></div>

          <div class="product-row">
            <div
              *ngFor="let product of filteredRow5Products"
              class="product-card"
              (click)="selectProduct(product)"
            >
              <div class="product-content">
                <div class="product-image">
                  <img [src]="product.image" alt="Producto" />
                </div>
                <div class="product-name">{{ product.name }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" *ngIf="filteredRow6Products.length > 0">
          <div class="section-title"><p>Semillas de Maíz</p></div>

          <div class="product-row">
            <div
              *ngFor="let product of filteredRow6Products"
              class="product-card"
              (click)="selectProduct(product)"
            >
              <div class="product-content">
                <div class="product-image">
                  <img [src]="product.image" alt="Producto" />
                </div>
                <div class="product-name">{{ product.name }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" *ngIf="filteredRow7Products.length > 0">
          <div class="section-title"><p>Semilla de Sorgo</p></div>

          <div class="product-row">
            <div
              *ngFor="let product of filteredRow7Products"
              class="product-card"
              (click)="selectProduct(product)"
            >
              <div class="product-content">
                <div class="product-image">
                  <img [src]="product.image" alt="Producto" />
                </div>
                <div class="product-name">{{ product.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-template fade-slide-in" *ngIf="selectedProduct">
      <div class="template-card">
        <div class="template__header">
          <div class="template__header-top">
            <button (click)="closeProduct()">
              <i class="fa-solid fa-arrow-left-long"></i>
            </button>
            <p>{{ selectedProduct?.section }}</p>
            <i class="fa-solid fa-bell"></i>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 400"
            preserveAspectRatio="none"
            style="width: 100%; height: 150px"
          >
            <path
              fill="#f23838"
              fill-opacity="1"
              d="M0,0 C0,250 360,250 720,250 C1080,250 1440,400 1440,400 L1440,0 Z"
            />
          </svg>
          <div class="template__header-bot">
            <div class="img">
              <img [src]="currentImage" alt="Imagen producto seleccionada" />
            </div>
          </div>
        </div>

        <div class="template__info">
          <h3 class="product__name">{{ selectedProduct.name }}</h3>
          <p>{{ selectedProduct.description }}</p>
        </div>

        <div class="template__bottom">
          <div
            class="presentaciones"
            *ngIf="selectedProduct.presentations?.length"
          >
            <div
              class="presentacion"
              *ngFor="let presentation of selectedProduct.presentations; let i = index"
              (click)="changeImage(i)"
              [ngClass]="{ 'active': i === activeIndex }"
            >
              <img [src]="presentation" [alt]="'Presentación ' + (i + 1)" />
            </div>
          </div>

          <div class="fichaTecnica" (click)="openFile('fichaTecnica')">
            <div>
              <i class="fa-solid fa-file-pdf"></i>
              <p>Ficha Técnica</p>
            </div>
          </div>

          <div class="hojaSeguridad" (click)="openFile('hojaSeguridad')">
            <div>
              <i class="fa-solid fa-file-pdf"></i>
              <p>Hoja de Seguridad</p>
            </div>
          </div>
        </div>
        f
      </div>
    </div>
  </div>
</ion-content>
