<ion-content
  class="principalMain"
  [fullscreen]="true"
  scrollY="hidde"
  [scrollAssist]="false"
  [keyboardResizes]="false"
>
  <div class="container">
    <div class="container__top">
      <app-header-products></app-header-products>
    </div>

    <ion-header>
      <ion-toolbar>
        <div class="custom-tabs">
          <ion-button
            fill="clear"
            (click)="selectTab('productos')"
            [color]="selectedTab === 'productos' ? 'danger' : 'medium'"
          >
            <img src="../../assets/LOGOS/icono1.png" alt="" loading="lazy" />
          </ion-button>
          <ion-button
            fill="clear"
            (click)="selectTab('buscar')"
            [color]="selectedTab === 'buscar' ? 'danger' : 'medium'"
          >
            <img src="../../assets/LOGOS/icono2.png" alt="" loading="lazy" />
          </ion-button>
          <ion-button
            fill="clear"
            (click)="selectTab('categorias')"
            [color]="selectedTab === 'categorias' ? 'danger' : 'medium'"
          >
            <img src="../../assets/LOGOS/icono3.png" alt="" loading="lazy" />
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!--productos page-->
      <div class="products" *ngIf="selectedTab === 'productos'">
        <ion-searchbar
          placeholder="Buscar producto..."
          (ionInput)="filtrarProductos($event)"
        ></ion-searchbar>

        <!-- RESULTADOS DE BÚSQUEDA -->
        <div
          class="search-results"
          *ngIf="searchTerm && productosFiltrados.length > 0 && !subproductoSeleccionado && !productoSeleccionado"
        >
          <p class="title">Resultados de la búsqueda</p>

          <div class="product-grid">
            <div
              class="category"
              *ngFor="let producto of productosFiltrados"
              (click)="abrirProductoDesdeBusqueda(producto)"
            >
              <div class="category-img">
                <img
                  [src]="producto.img"
                  [alt]="producto.title"
                  loading="lazy"
                />
              </div>
              <p class="category-title">{{ producto.title }}</p>
            </div>
          </div>
        </div>

        <!--categorias-->
        <div
          class="sections-container"
          *ngIf="!searchTerm && !productoSeleccionado && !subproductoSeleccionado"
        >
          <div class="row" *ngFor="let categoria of categorias">
            <p class="title">{{ categoria.nombre }}</p>
            <div class="container-row">
              <div
                class="category"
                *ngFor="let producto of categoria.productos"
                (click)="abrirProductoDesdeCategoria(producto)"
              >
                <div class="category-img">
                  <img
                    [src]="producto.img"
                    [alt]="producto.title"
                    loading="lazy"
                  />
                </div>
                <p class="category-title">{{ producto.title }}</p>
              </div>
            </div>
          </div>
        </div>

        <!--subproductos de categorias-->
        <div
          class="subproductos-container"
          *ngIf="productoSeleccionado && !subproductoSeleccionado"
        >
          <button (click)="volverAtrasProducto()" class="back-button">
            <i class="fa-solid fa-arrow-left"></i> Volver a categorías
          </button>
          <p class="title">{{ productoSeleccionado.title }}</p>
          <div class="product-grid">
            <div
              class="category"
              *ngFor="let subproducto of productoSeleccionado.detalles"
              (click)="abrirProductoDesdeBusqueda(subproducto)"
            >
              <div class="category-img">
                <img
                  [src]="subproducto.img"
                  [alt]="subproducto.title"
                  loading="lazy"
                />
              </div>
              <p class="category-title">{{ subproducto.title }}</p>
            </div>
          </div>
        </div>

        <!--template del producto info-->
        <div
          class="detalle-subproducto-fullscreen fade-slide-in"
          *ngIf="subproductoSeleccionado"
        >
          <div class="detalle-header">
            <button (click)="volverAtrasSubproducto()">
              <i class="fa-solid fa-arrow-left-long"></i>
            </button>
            <p class="title">{{ subproductoSeleccionado.title }}</p>
            <i class="fa-solid fa-bell"></i>
          </div>

          <div class="detalle-content">
            <div class="detalle-content-top">
              <img
                [src]="imagenPresentacionActiva"
                [alt]="subproductoSeleccionado.title"
                loading="lazy"
              />
            </div>

            <div class="detalle-content-info">
              <p class="productTitle">
                {{ subproductoSeleccionado.productTitle }}
              </p>
              <p class="description">
                {{ subproductoSeleccionado.description }}
              </p>
              <p class="ventajas">
                <span>Ventajas</span> {{ subproductoSeleccionado.ventajas }}
              </p>
            </div>

            <div class="detalle-content-bottom">
              <div
                class="presentaciones"
                *ngIf="subproductoSeleccionado.presentations"
              >
                <p>Presentaciones</p>
                <div class="presentaciones-row">
                  <div
                    *ngFor="let pres of subproductoSeleccionado.presentations; let i = index"
                    class="presentacion"
                    [class.active]="i === activeIndex"
                    (click)="changeImage(i)"
                  >
                    <img
                      [src]="typeof pres === 'string' ? pres : pres.img"
                      alt="Presentación {{ i + 1 }}"
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>

              <p class="ingredienteActivo">
                <span>Ingrediente Activo:</span>
                {{ subproductoSeleccionado.ingredienteActivo }}
              </p>

              <div
                class="descargables"
                *ngIf="detalleSeleccionado && detalleSeleccionado.descargables"
              >
                <div>
                  <button
                    *ngIf="detalleSeleccionado.descargables.fichaTecnica"
                    (click)="openFileByType('fichaTecnica')"
                  >
                    <i class="fa-solid fa-file-pdf"></i>
                    Ver Ficha Técnica
                  </button>
                </div>
                  <div>
                  <button
                    *ngIf="detalleSeleccionado.descargables.folleto"
                    (click)="openFileByType('folleto')"
                  >
                    <i class="fa-solid fa-file-pdf"></i>
                    Ver Folleto
                  </button>
                </div>
                <div>
                  <button
                    *ngIf="detalleSeleccionado.descargables.hojaSeguridad"
                    (click)="openFileByType('hojaSeguridad')"
                  >
                    <i class="fa-solid fa-file-pdf"></i>
                    Ver Hoja de Seguridad
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--quimagro page-->
      <div class="about" *ngIf="selectedTab === 'buscar'">
        <app-quimagro-about />
      </div>

      <!--servicios page-->
      <div *ngIf="selectedTab === 'categorias'">
        <app-quimagro-services />
      </div>

      <div class="whatsapp-container">
        <i
          id="whatsappBtn"
          class="fa-brands fa-whatsapp"
          (click)="abrirWhatsApp()"
        ></i>
      </div>
    </ion-content>
  </div>
</ion-content>
