<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container__top">
      <span>Mi Perfil</span>
      <span id="nombreProductor">Nombre</span>
      <span class="spanSubtitle">Productor</span>
    </div>
    <div class="container__bottom">
      <div class="ic-tabs-container">
        <div class="ic-tabs">
          <button
            *ngFor="let tab of tabs; let i = index"
            (click)="seleccionarTab(i)"
            [class.activo]="i === tabActivo"
          >
            IC
          </button>
        </div>

        <div class="ic-content">
          <ng-container [ngSwitch]="tabActivo">
            <div *ngSwitchCase="0" class="contenido1">Contenido de IC 1</div>
            <div *ngSwitchCase="1" class="contenido2">Contenido de IC 2</div>
            <div *ngSwitchCase="2" class="contenido3">Contenido de IC 3</div>
          </ng-container>
        </div>
      </div>
      <button  (click)="signOut()" id="signOut">
        {{ isLoggedIn ? 'Cerrar Sesión' : 'Iniciar Sesión' }}
      </button>
    </div>
  </div>
</ion-content>
