// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;

  .swiper-pagination-bullet {
    background: #ffffff !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: var(--light-red) !important;
  }
}

:root {
  --dark-red: #bf343f;
  --light-red: #f23838;
  --dark-green: #2a8c43;
  --light-green: #39bf5b;
  --black: #0d0d0d;
  --white: #fffdfe;
}

html,
body,
ion-app {
  background-color: var(--light-red);
  height: 100%;
  margin: 0;
  padding: 0;
}

i[_ngcontent-ng-c1062881376] {
  color: #ff0000 !important;
}
tab-selected .icon {
  color: var(--light-red) !important;
}
