.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; /* Cambiado a blanco para evitar pantalla roja */
  color: black; /* mejor contraste con fondo blanco */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 9999;

  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;

  .imgLoader {
    width: 50%;
    max-width: 150px;
    filter: drop-shadow(2px 2px 2px rgba(252, 3, 3, 0.2));
  }

  .loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: black;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 15px;
  }

  .loader::before {
    content: "";
    position: absolute;
    background: var(--light-red);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }

  @keyframes moving {
    50% {
      width: 100%;
    }

    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
}

.splash-screen.leave {
  opacity: 0;
  transform: translateY(-40px);
}
